<body>
  <ul>
    <div class="user-name">
      {{userName}}
    </div>
    <div class="animal-name">
      {{animalName}}
    </div>
    <div class="bio">
      {{bio}}
    </div>
    <div class="profile-image">
      <img width="70" height="70" src='{{profileImg}}'>
    </div>
  </ul>
  {{#each images}}
  <div>
    <img src='{{url}}'>
  </div>
  {{/each}}
</body>